
header {
    background-color: cornflowerblue;
    .title {
        color: #ffffff;
        text-align: center;
        padding: 5% 0;
        font-size: 3rem;
    }
}

main {
    margin: 5% 5%;
    .form {
        display: flex;
        flex-direction: column;
        .id {
            display: none;
        }
        .form-label {
            margin-bottom: 1.25rem;
            h2 {
                margin-bottom: .5rem;
            }
        }
        button {
            margin: 1rem 0 2rem 0;
            width: 150px;
            padding: .5rem 0;
            font-size: 1.25rem;
            border-radius: 8px;
            border: none;
            background-color: #62e448;
            color: #ffffff;
        }
        input {
            padding: 1em .5em;
            border: none;
            border-radius: 10px;
            background-color: #e4e4e4;
            &:hover, :focus-within {
                box-shadow: .5px .5px 4px .5px;
                outline: none;
            }
        }
    }
    .list {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        .item {
            display: inline-flex;
            background-color: #f0f0f0;
            border-radius: 10px;
            padding: 0.6em 2em;
            align-items: center;
            gap: 1em;
            font-size: 1.25rem;
            justify-content: space-evenly;
            &:hover, :focus-within {
                box-shadow: .5px .5px 4px .5px;
                outline: none;
            }
        }
    }
}